* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

#whitespace {
    height: 350px;
    width: 350px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    
    
}

#gridbox {
    
    display: flex;
    margin: auto auto;
    width: 90%;
    height: 90%;
    background-color: white;
    flex-wrap: wrap;
   
}

.pixel {
    background-color: salmon;
    border: 2px solid white;
    border-radius: 5px;
}